.board {
  width: 70vh;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


@media (orientation: portrait) {
  .board {
    width: 70vw;
    height: 70vw;
  }
}


@media (max-width: 599px) {
  .board {
    width: 90vw;
    height: 90vw;
  }
}
