.modal {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(50, 50, 50, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal__content {
  height: 350px;
  width: 500px;
  background-color: rgb(237, 237, 237);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 2px solid rgb(212, 212, 212);
  font-size: 30px;
  padding: 30px;
}

.modal__players-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.modal__button {
  width: 150px;
  height: 60px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 30px;
}

.modal--visible {
  display: flex;
}
